.homeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    
}
.homeContainer svg{
    font-size: 6rem;
    margin: 2rem;
}
.homeContainer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}